<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/template}">

    <head>
        <title>Dashboard</title>
    </head>

    <body>

        <th:block layout:fragment="content">
            <div class="content-wrapper">
	          <div class="page-header">
	            <h3 class="page-title">
	              <span class="page-title-icon bg-gradient-primary text-white mr-2">
	                <i class="mdi mdi-home"></i>                 
	              </span>
	              Dashboard
	            </h3>
	          </div>

				<div class="row">
					<div class="col-12 grid-margin">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Products</h4>
								<div class="table-responsive">
									<table class="table" id="tblProducts">
										<thead>
											<tr>
												<th>Name</th>
												<th>Amount</th>
												<th>Type</th>
												<th>Discount Percentage</th>
												<th>Quantity</th>
												<th>Date Added</th>
												<th>Actions</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td>
													<img th:src="@{/template/PurpleAdmin/images/faces/face1.jpg}" class="mr-2" alt="image">
													Product 1
												</td>
												<td>PHP 1,000.00</td>
												<td>DISCOUNTABLE / NON_DISCOUNTABLE</td>
												<td>50%</td>
												<td>2</td>
												<td>November 15, 2018</td>
												<td>
													<label id="btnEditProduct" class="badge badge-gradient-warning" style="cursor: pointer;">
														<i class="mdi mdi-table-edit"></i> EDIT
													</label>

													<label id="btnDelteProduct" class="badge badge-gradient-danger" style="cursor: pointer;">
														<i class="mdi mdi-delete"></i> DELETE
													</label>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 grid-margin">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Buyers</h4>
								<div class="table-responsive">
									<table class="table" id="tblBuyers">
										<thead>
											<tr>
												<th>Buyer Name</th>
												<th>Bought</th>
												<th>Date Paid</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td>
													<img th:src="@{/template/PurpleAdmin/images/faces/face1.jpg}" class="mr-2" alt="image">
													Tristan Rosales
												</td>
												<td>
													<img th:src="@{/template/PurpleAdmin/images/faces/face1.jpg}" class="mr-2" alt="image">
													Product 1
												</td>
												<td>November 17,2018</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>


	        </div>

			<div id="my-account-modal" class="iziModal">
				<div class="col-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">My Account</h4>
							<br>

							<form th:action="@{/update-seller}" th:object="${seller}" method="POST">
								<!--
								<script type="text/javascript">
                                    function displayImage() {
                                        var image = document.getElementById("cmbAvatar").value;
                                        document.getElementById("imgAvatar").setAttribute("src","/template/PurpleAdmin/images/avatars/" + image);
                                    }
								</script>

								<img id="imgAvatar" th:src="@{/template/PurpleAdmin/images/avatars/${seller.account_image_link}}" th:width="90" th:height="90"
									 style="border-radius: 25%; display: block; margin-left: auto; margin-right: auto;" />

								<div class="form-group">
									<label for="cmbAvatar">Avatar</label>
									<select class="form-control" id="cmbAvatar" onchange="displayImage();" th:value="${seller.account_image_link}">
										<option disabled selected>----CHOOSE YOUR AVATAR----</option>
										<option th:value="default.png">default</option>
										<option th:value="apple.jpg">apple</option>
										<option th:value="banana.jpg">banana</option>
										<option th:value="carrots.png">carrots</option>
										<option th:value="eggplant.png">eggplant</option>
										<option th:value="grapes.png">grapes</option>
										<option th:value="mango.jpg">mango</option>
										<option th:value="onion.png">onion</option>
										<option th:value="pineapple.png">pineapple</option>
										<option th:value="strawberry.png">strawberry</option>
										<option th:value="chili.png">chili</option>
									</select>
								</div>
								-->

								<div class="form-group">
									<label for="txtFullname">Fullname</label>
									<input th:field="*{fullname}" type="text" class="form-control" id="txtFullname" placeholder="Fullname" th:value="${seller.fullname}">
								</div>

								<div class="form-group">
									<label for="txtUsername">Username</label>
									<input th:field="*{username}" type="text" class="form-control" id="txtUsername" placeholder="Username" th:value="${seller.username}">
								</div>

								<div class="form-group">
									<label for="txtEmail">Email</label>
									<input th:field="*{email}" type="email" class="form-control" id="txtEmail" placeholder="Email" th:value="${seller.email}">
								</div>

								<div class="form-group">
									<label for="txtAddress">Address</label>
									<textarea th:field="*{address}" class="form-control" id="txtAddress" rows="6" placeholder="Address" th:text="${seller.address}"></textarea>
								</div>

								<div th:if="${param.success_update != null}" class="text-center">
									<p class="text-success mt-2">You've successfully updated your account.</p>
								</div>

								<button type="submit" class="btn btn-gradient-primary mr-2" style="float: right;">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div id="add-product-modal" class="iziModal">
				<div class="col-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Add Product</h4>
							<br>

							<form th:action="@{/}" method="POST">
								<div class="form-group">
									<label>Product Image</label>
									<input type="file" name="img[]" class="file-upload-default">
									<div class="input-group col-xs-12">
										<input type="text" class="form-control file-upload-info" disabled placeholder="Choose product image...">
										<span class="input-group-append">
											  <button class="file-upload-browse btn btn-gradient-primary" type="button">Browse...</button>
											</span>
									</div>
								</div>

								<div class="form-group">
									<label for="txtProductName">Product Name</label>
									<input type="text" class="form-control" id="txtProductName" placeholder="Enter product name...">
								</div>

								<div class="form-group">
									<label for="txtProductDescription">Product Description</label>
									<textarea class="form-control" id="txtProductDescription" rows="8" placeholder="Enter product description..."></textarea>
								</div>

								<div class="form-group">
									<label for="txtProductQuantity">Product Quantity</label>
									<input type="number" class="form-control" id="txtProductQuantity" placeholder="Enter product quantity...">
								</div>

								<div class="form-group">
									<label for="txtProductPrice">Product Price (PHP)</label>
									<input type="text" class="form-control" id="txtProductPrice" placeholder="Enter product price...">
								</div>

								<div class="form-group">
									<label for="cmbProductType">Product Type</label>
									<select class="form-control" id="cmbProductType">
										<option disabled selected>----CHOOSE PRODUCT TYPE----</option>
										<option th:value="DISCOUNTABLE">DISCOUNTABLE</option>
										<option th:value="NON_DISCOUNTABLE">NON_DISCOUNTABLE</option>
									</select>
								</div>

								<div class="form-group">
									<label for="cmbDiscountPercentage">Discount Percentage</label>
									<select class="form-control" id="cmbDiscountPercentage">
										<option disabled selected>----CHOOSE DISCOUNT PERCENTAGE----</option>
										<option th:value="25">25%</option>
										<option th:value="50">50%</option>
										<option th:value="75">75%</option>
										<option th:value="100">100%</option>
									</select>
								</div>

								<button type="submit" class="btn btn-gradient-primary mr-2" style="float: right;">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
        </th:block>
    </body>
</html>
