<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/template}">

    <head>
        <title>Checkout</title>
    </head>

    <body>

        <th:block layout:fragment="content">
             <!--Main layout-->
			  <main class="mt-5 pt-4">
			    <div class="container wow fadeIn">
			
			      <!-- Heading -->
			      <h2 class="my-5 h2 text-center">Checkout form</h2>
			
			      <!--Grid row-->
			      <div class="row">
			
			        <!--Grid column-->
			        <div class="col-md-8 mb-4">
			
			          <!--Card-->
			          <div class="card">
			
			            <!--Card content-->
			            <form class="card-body" th:object="${customer}" method="post">
			
			              <!--Grid row-->
			              <div class="row">
			
			                <!--Grid column-->
			                <div class="col-md-12 mb-2">
			
			                  <!--firstName-->
			                  <div class="md-form ">
			                    <input type="text" id="fullname"  th:field="*{fullname}" class="form-control">
			                    <label for="fullname" class="">Fullname</label>
			                  </div>
			
			                </div>
			                <!--Grid column-->
			
			              </div>
			              <!--Grid row-->
			
			              <!--Username-->
			              <div class="md-form input-group pl-0 mb-5">
			                <div class="input-group-prepend">
			                  <span class="input-group-text" id="basic-addon1">@</span>
			                </div>
			                <input type="text" class="form-control py-0" placeholder="Username" th:field="*{username}" aria-describedby="basic-addon1">
			              </div>
			
			              <!--email-->
			              <div class="md-form">
			              	<input type="text" id="email" th:field="*{email}" class="form-control">
			                <label for="email" class="" >Email</label>
			              </div>
			
			              <!--address-->
			              <div class="md-form mb-5">
			                <input type="text" id="address" th:field="*{address}" class="form-control">
			                <label for="address" class="" >Address</label>
			              </div>
			
			              <hr>
							<h4>Payment Method</h4><br>
			              <div class="row">
			              	
			                <div class="col-md-6 mb-3">
			                  <div id="paypal-button-container"></div>
			                </div>
			                <div class="col-md-6 mb-3">
			                	<button class="btn btn-primary btn-lg btn-block" type="submit"><i class="fa fa-truck white-text" aria-hidden="true"></i> On Cash Delivery</button>
			                </div>
			              </div>
			              
			
			            </form>
			
			          </div>
			          <!--/.Card-->
			
			        </div>
			        <!--Grid column-->
			
			        <!--Grid column-->
			        <div class="col-md-4 mb-4">
			
			          <!-- Heading -->
			          <h4 class="d-flex justify-content-between align-items-center mb-3">
			            <span class="text-muted">Your cart</span>
			            <span class="badge badge-secondary badge-pill">3</span>
			          </h4>
			
			          <!-- Cart -->
			          <ul class="list-group mb-3 z-depth-1">
			            <li class="list-group-item d-flex justify-content-between lh-condensed">
			              <div>
			                <h6 class="my-0">Product name</h6>
			                <small class="text-muted">Brief description</small>
			              </div>
			              <span class="text-muted">&#8369;12</span>
			            </li>
			            <li class="list-group-item d-flex justify-content-between lh-condensed">
			              <div>
			                <h6 class="my-0">Second product</h6>
			                <small class="text-muted">Brief description</small>
			              </div>
			              <span class="text-muted">&#8369;8</span>
			            </li>
			            <li class="list-group-item d-flex justify-content-between lh-condensed">
			              <div>
			                <h6 class="my-0">Third item</h6>
			                <small class="text-muted">Brief description</small>
			              </div>
			              <span class="text-muted">&#8369;5</span>
			            </li>
			            <li class="list-group-item d-flex justify-content-between bg-light">
			              <div class="text-success">
			                <h6 class="my-0">Promo code</h6>
			                <small>EXAMPLECODE</small>
			              </div>
			              <span class="text-success">-&#8369;5</span>
			            </li>
			            <li class="list-group-item d-flex justify-content-between">
			              <span>Total (PHP)</span>
			              <strong>&#8369;20</strong>
			            </li>
			          </ul>
			          <!-- Cart -->
			
			
			        </div>
			        <!--Grid column-->
			
			      </div>
			      <!--Grid row-->
			
			    </div>
			  </main>
			  <!--Main layout-->
			  
			  <script th:src="@{https://www.paypalobjects.com/api/checkout.js}"></script>
			  <script th:src=@{/template/partnerportal-webapp/js/paypal.js}></script>
        </th:block>

    </body>
</html>
