<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:fragment="cssFiles">
        	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" th:href="@{/template/partnerportal-webapp/css/addons/datatables.min.css}">
            <link rel="stylesheet" type="text/css" th:href="@{/template/partnerportal-webapp/css/addons/datatables.css}">
        	<link rel="stylesheet" type="text/css" th:href="@{/template/partnerportal-webapp/css/bootstrap.css}">
        	<link rel="stylesheet" type="text/css" th:href="@{/template/partnerportal-webapp/css/bootstrap.min.css}">
        	<link rel="stylesheet" type="text/css" th:href="@{/template/partnerportal-webapp/css/mdb.css}">
        	<link rel="stylesheet" type="text/css" th:href="@{/template/partnerportal-webapp/css/mdb.min.css}">
        	<link rel="stylesheet" type="text/css" th:href="@{/template/partnerportal-webapp/css/style.css}">
        	<link rel="stylesheet" type="text/css" th:href="@{/template/partnerportal-webapp/css/style.min.css}">
        </th:block>
    </head>
</html>
