<html xmlns:th="http://www.thymeleaf.org"
    	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <body>
        <th:block th:fragment="topbar">
            <!--Navigation-->
		    <header>
		        <!-- Navbar -->
		        <nav class="navbar fixed-top navbar-expand-lg  navbar-light scrolling-navbar white">
		            <div class="container">
		                
		                <a class="navbar-brand font-weight-bold" th:href="@{/}">
		                	<img th:src="@{/template/partnerportal-webapp/img/logo.png}"/>
		                </a>
		                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
		                    aria-expanded="false" aria-label="Toggle navigation">
		                    <span class="navbar-toggler-icon"></span>
		                </button>
		                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
		                    <ul class="navbar-nav ml-auto">
		                        <li class="nav-item " sec:authorize="isAuthenticated()">
					              <a class="nav-link dark-grey-text font-weight-bold" href="#" data-toggle="modal" data-target="#cart-modal-ex">
					                <span class="badge danger-color">4</span>
					                <i class="fa fa-shopping-cart blue-text" aria-hidden="true"></i>
					                <span class="clearfix d-none d-sm-inline-block">Cart</span>
					              </a>
					            </li>
		                        <li class="nav-item" sec:authorize="isAnonymous()">
		                            <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" th:href="@{/sign-in}">
		                                <i class="fa fa-sign-in blue-text"></i> Sign in</a>
		                        </li> 
		                        <li class="nav-item" sec:authorize="isAnonymous()">
		                            <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" th:href="@{/sign-up}">
		                                <i class="fa fa-user-plus blue-text"></i> Register</a>
		                        </li>
		                        <li class="nav-item" sec:authorize="hasAnyAuthority('BUYER')">
		                            <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" th:href="@{/}">
		                                <i class="fa fa-user blue-text"></i> Account</a>
		                        </li>
		                        <li class="nav-item" sec:authorize="hasAnyAuthority('BUYER')">
		                        	 <form method="post" th:action="@{/logout}" id="logout">
		                            		<a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" onclick="document.getElementById('logout').submit()">
		                                	<i class="fa fa-sign-out blue-text"></i> Sign out</a>
		                             </form>
		                        </li>
		                       
		                    </ul>
		                </div>
		            </div>
		        </nav>
		        <!-- /.Navbar -->
		
		    </header>
		    <!-- /.Navigation -->
		    
		    <!-- Cart Modal -->
			  <div class="modal fade cart-modal" sec:authorize="isAuthenticated()" id="cart-modal-ex" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			    aria-hidden="true">
			    <div class="modal-dialog" role="document">
			      <!--Content-->
			      <div class="modal-content">
			        <!--Header-->
			        <div class="modal-header">
			
			          <h4 class="modal-title font-weight-bold dark-grey-text" id="myModalLabel">Your cart</h4>
			          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			            <span aria-hidden="true">&times;</span>
			          </button>
			        </div>
			        <!--Body-->
			        <div class="modal-body">
			
			          <table class="table table-hover">
			            <thead>
			              <tr>
			                <th>#</th>
			                <th>Product name</th>
			                <th>Price</th>
			                <th>Remove</th>
			              </tr>
			            </thead>
			            <tbody>
			              <tr>
			                <th scope="row">1</th>
			                <td>Product 1</td>
			                <td>100$</td>
			                <td>
			                  <a>
			                    <i class="fa fa-remove"></i>
			                  </a>
			                </td>
			              </tr>
			              <tr>
			                <th scope="row">2</th>
			                <td>Product 2</td>
			                <td>100$</td>
			                <td>
			                  <a>
			                    <i class="fa fa-remove"></i>
			                  </a>
			                </td>
			              </tr>
			              <tr>
			                <th scope="row">3</th>
			                <td>Product 3</td>
			                <td>100$</td>
			                <td>
			                  <a>
			                    <i class="fa fa-remove"></i>
			                  </a>
			                </td>
			              </tr>
			              <tr>
			                <th scope="row">4</th>
			                <td>Product 4</td>
			                <td>100$</td>
			                <td>
			                  <a>
			                    <i class="fa fa-remove"></i>
			                  </a>
			                </td>
			              </tr>
			
			            </tbody>
			          </table>
			
			          <button class="btn btn-primary btn-rounded btn-sm">Checkout</button>
			
			        </div>
			        <!--Footer-->
			        <div class="modal-footer">
			          <button type="button" class="btn btn-grey btn-rounded btn-sm" data-dismiss="modal">Close</button>
			        </div>
			      </div>
			      <!--/.Content-->
			    </div>
			  </div>
			
			  <!-- /.Cart Modal -->
		    
    </body>
</html>