<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="javascriptFiles">
            <script th:src="@{https://code.jquery.com/jquery-3.3.1.js}" type="text/javascript"></script>
            <script th:src="@{/template/PurpleAdmin/vendors/js/vendor.bundle.base.js}" type="text/javascript"></script>
            <script th:src="@{/template/PurpleAdmin/vendors/js/vendor.bundle.addons.js}"></script>
            
            <script th:src="@{/template/PurpleAdmin/js/off-canvas.js}"></script>
            <script th:src="@{/template/PurpleAdmin/js/dashboard.js}"></script>
            <script th:src="@{/template/PurpleAdmin/js/file-upload.js}"></script>
            <script th:src="@{/template/PurpleAdmin/js/misc.js}"></script>

            <script th:src="@{/template/PurpleAdmin/vendors/iziModal/js/iziModal.js}"></script>
            <script th:src="@{/template/PurpleAdmin/vendors/iziModal/js/iziModal.min.js}"></script>

            <script th:src="@{/template/PurpleAdmin/vendors/datatables/jquery.dataTables.min.js}"></script>

            <script type="text/javascript">
                $(document).ready( function () {
                    function renderIziModal(modalIdSelectorName,modalTitle){
                        $(modalIdSelectorName).iziModal({
                            title: modalTitle,
                            subtitle: '',
                            headerColor: '#88A0B9',
                            background: '#E1CEB1',
                            theme: 'light',  // light
                            icon: null,
                            iconText: null,
                            iconColor: '',
                            rtl: false,
                            width: 800,
                            top: null,
                            bottom: null,
                            borderBottom: true,
                            padding: 0,
                            radius: 3,
                            zindex: 999,
                            iframe: false,
                            iframeHeight: 100,
                            iframeURL: null,
                            focusInput: true,
                            group: '',
                            loop: false,
                            arrowKeys: true,
                            navigateCaption: true,
                            navigateArrows: true, // Boolean, 'closeToModal', 'closeScreenEdge'
                            history: false,
                            restoreDefaultContent: false,
                            autoOpen: 0, // Boolean, Number
                            bodyOverflow: false,
                            fullscreen: false,
                            openFullscreen: false,
                            closeOnEscape: true,
                            closeButton: true,
                            appendTo: 'body', // or false
                            appendToOverlay: 'body', // or false
                            overlay: true,
                            overlayClose: true,
                            overlayColor: 'rgba(0, 0, 0, 0.4)',
                            timeout: false,
                            timeoutProgressbar: false,
                            pauseOnHover: false,
                            timeoutProgressbarColor: 'rgba(255,255,255,0.5)',
                            transitionIn: 'comingIn',
                            transitionOut: 'comingOut',
                            transitionInOverlay: 'fadeIn',
                            transitionOutOverlay: 'fadeOut'
                        });
                    }

                    renderIziModal('#add-product-modal','Add Product');
                    renderIziModal('#my-account-modal','My Account');

                    $('#tblProducts').DataTable();
                    $('#tblBuyers').DataTable();
                });
            </script>
        </th:block>
    </body>
</html>
