<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="sidebar">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
		        <ul class="nav">
		          <li class="nav-item nav-profile">
		            <a data-izimodal-open="#my-account-modal" class="nav-link" style="cursor: pointer;">
		              <div class="nav-profile-image">
						  <img th:src="@{/template/PurpleAdmin/images/avatars/default.png}">
		                <span class="login-status online"></span> <!--change to offline or busy as needed-->              
		              </div>
		              <div class="nav-profile-text d-flex flex-column">
		                <span class="font-weight-bold mb-2" th:text="${seller.fullname}"></span>
		                <span class="text-secondary text-small" th:text="${seller.role}"></span>
		              </div>
		              <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
		            </a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" th:href="@{/dashboard}">
		              <span class="menu-title">Dashboard</span>
		              <i class="mdi mdi-home menu-icon"></i>
		            </a>
		          </li>
		          <li class="nav-item sidebar-actions">
		            <span class="nav-link">
		              <div class="border-bottom">
							<h6 class="font-weight-normal mb-3">What you need?</h6>
		              </div>

						<button class="btn btn-block btn-lg btn-gradient-primary mt-4" data-izimodal-open="#add-product-modal">+ Add a product</button>
		            </span>
		          </li>
		        </ul>
		      </nav>
        </th:block>
    </body>
</html>